@model DoAnCoSo.Models.tbNoiDung

<h1>Create</h1>

<h4>tbNoiDung</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoiDungThi" class="control-label"></label>
                <input type="file" asp-for="NoiDungThi" class="form-control" />
                <span asp-validation-for="NoiDungThi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenNoiDung" class="control-label"></label>
                <input asp-for="TenNoiDung" class="form-control" />
                <span asp-validation-for="TenNoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imageUrl" class="control-label"></label>
                <input type="file" asp-for="imageUrl" class="form-control" />
                <span asp-validation-for="imageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


