


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoAnCoSo</title>
    
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/menuAdmin.css" />
</head>
<body>
    <div class="wrapper">
        <div>
            <div class="header">
                <a id="logo" href="">
                    <img src="~/images/Logo.png" alt="#" />
                </a>
                <nav class="container">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                               style="color: white;">
                                Quản lý
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="dropdown-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="LoaiTruongs" asp-action="Index">Quản lý loại trường</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="Truongs" asp-action="Index">Quản lý trường</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="MonThis" asp-action="Index">Quản lý môn thi</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="QuyDinhs" asp-action="Index">Quản lý quy định</a>
                                </li>
                            </ul>

                            <li class="dropdown-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="CuocThis" asp-action="Index">Cuoc Thi </a>
                            </li>

                        </li>
                        
                    </ul>
                </nav>
                <partial name="_LoginPartial" />
            </div>
        </div>

        @RenderBody()

        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
