@model DoAnCoSo.Models.tbCuocThi

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>tbCuocThi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NgayThi" class="control-label"></label>
                <input asp-for="NgayThi" class="form-control" />
                <span asp-validation-for="NgayThi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongThiSinh" class="control-label"></label>
                <input asp-for="SoLuongThiSinh" class="form-control" />
                <span asp-validation-for="SoLuongThiSinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaDiem" class="control-label"></label>
                <input asp-for="DiaDiem" class="form-control" />
                <span asp-validation-for="DiaDiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonThiId" class="control-label"></label>
                <select asp-for="MonThiId" class="form-control" asp-items="ViewBag.MonThiId"></select>
                <span asp-validation-for="MonThiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

