html,
body {
    height: 100%;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #1e88e5; /* Màu xanh dương */
    color: white; /* Màu chữ trắng */
}

.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 80px;
    background: #1e88e5; /* Màu xanh đậm */
}

    .header-icon i {
        font-size: 24px;
    }

.header-logo {
    flex: 1;
    height: 100%;
    max-width: 70px;
    padding: 0 10px;
}

    .header-logo img {
        height: 100%;
        width: auto;
    }

.header-icon:hover {
    color: #1565c0;
    cursor: pointer;
}

.header-logo:hover img {
    filter: grayscale(65%);
    cursor: pointer;
}

.container {
    display: flex;
    height: calc(100% - 70px);
}

.container-menu {
    background-color: #2196F3; /* Màu nền xanh */
}

.container-menu-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.container-menu-item {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    background-color: #2196F3; /* Màu nền xanh */
    color: #ffffff; /* Màu trắng cho biểu tượng và nội dung */
}

    .container-menu-item i {
        margin: 16px 5px;
        color: #ffffff; /* Màu trắng cho biểu tượng */
    }

    .container-menu-item p {
        display: none;
        transition: all 0.3s ease;
        color: #ffffff; /* Màu trắng cho nội dung */
    }

    .container-menu-item:hover {
        background-color: #1565c0; /* Màu hover là #1565c0 */
    }

    .container-menu-item.active p {
        display: block;
    }

    .container-menu-item.active i {
        color: #FF0000; /* Màu đỏ cho biểu tượng khi hiển thị */
    }
.container-content-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #666666;
}



