<!DOCTYPE html>
<html lang="en">
    <head>

    </head>

    <body>
        <!-- Block__Element--Modifier-->
        <header>
            <div class="header__icon">
                <a id="logo" href="">
                    <img src="D:\LapTrinhWeb\DoAn-CoSo-Loading\DoAn_CoSo\Layout\images_Layout\danhmuc_icon.png" alt="#" />
                </a>
            </div>
            <div class="header__icon"></div>
            <div class="header__search"></div>
            <div class="header__menu"></div>
        </header>
    </body>
</html>