<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Layout.css">
    <link rel="stylesheet" href="~/css/theme.css">
    <script src="~/js/Layout.js"></script>

    @* link để sử dụng các icon *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <!-- Block__Element--Modifier-->
    <header class="header">
        <div class="header-icon" onclick="toggleMenu()">
            <i class="fas fa-list"></i>
        </div>
        <div class="header-logo">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/Logo.png" alt="Alternate Text" />
            </a>
        </div>
        <div class="header-login">
            <partial name="_LoginPartial" />
        </div>
    </header>
    <div class="container">
        <div class="container-menu">
            <div class="menu-icon">
                <ul class="container-menu-list">
                    <li class="container-menu-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-home"></i>
                            <p class="container-menu-item-content">Trang chủ</p>
                        </a>
                    </li>
                    <li class="container-menu-item">
                        <a asp-area="" asp-controller="CuocThis" asp-action="Index">
                            <i class="fas fa-trophy"></i>
                            <p class="container-menu-item-content">Cuộc thi</p>
                        </a>
                    </li>
                    <li class="container-menu-item">
                        <a asp-area="" asp-controller="PhieuDangKies" asp-action="Index">
                            <i class="fas fa-file-alt"></i>
                            <p class="container-menu-item-content">Phiếu đăng ký</p>
                        </a>
                    </li>
                    <li class="container-menu-item">
                        <a asp-area="" asp-controller="PhieuKetQuas" asp-action="Index">
                            <i class="fas fa-poll"></i>
                            <p class="container-menu-item-content">Phiếu kết quả</p>
                        </a>
                    </li>
                    <li class="container-menu-item">
                        <a asp-area="" asp-controller="Home" asp-action="Edit">
                            <i class="fas fa-poll"></i>
                            <p class="container-menu-item-content">Thông tin</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container-content" >
            <div class="container-content-body">
                @RenderBody()
            </div>

            <footer class="footer" id="footer">
                <div class="footer-row">
                    <div class="footer-column">
                        <h4>Giới thiệu</h4>
                        <p>Mô tả về trang web hoặc công ty.</p>
                    </div>
                    <div class="footer-column">
                        <h4>Thông tin liên hệ</h4>
                        <div class="footer-column">
                            <i class="fas fa-envelope">     info@iigteamvn.edu.vn </i>
                        </div>
                        <div class="footer-column">
                            <i class="fas fa-phone">    +123 456 789</i>
                        </div>
                        <div class="footer-column">
                            <div class="footer-social-icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-column">
                        <h4>Đồng hồ</h4>
                        <div class="codepro-time">
                            <span id="codepro-hour"></span>
                            <div class="footer-column">
                                <span id="codepro-date"></span>
                            </div>
                        </div>

                    </div>
                    <div class="footer-column">
                        <h4>Địa chỉ văn phòng</h4>
                        <p><i class="fas fa-school"></i>    Khu Công nghệ cao Xa Lộ Hà Nội, Hiệp Phú, Thủ Đức, Thành phố Hồ Chí Minh</p>
                    </div>
                </div>
            </footer>
        </div>  

        

    </div>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        var footer = document.getElementById("footer");
        var scrollPosition = window.scrollY || window.pageYOffset;
        var scrollHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        footer.classList.add("hidden");
        if (scrollPosition < scrollHeight) {
            // chưa đến cuối trang ẩn footer
            footer.classList.remove("hidden");
        }

        window.addEventListener("scroll", function () {
            var scrollPosition = window.scrollY || window.pageYOffset;
            var scrollHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            if (scrollPosition >= scrollHeight) {
                // Đã cuộn đến cuối trang, hiện footer
                footer.classList.add("hidden");
            } else {
                // Đang cuộn, ẩn footer
                footer.classList.remove("hidden");
            }

        });

        var myVar = setInterval(function () {
            myTimer()
        }, 1000);
        function myTimer() {
            var d = new Date();
            var t = d.toLocaleTimeString();
            document.getElementById("codepro-hour").innerHTML = t;
        }
        n = new Date();
        if (n.getTimezoneOffset() == 0) t = n.getTime() + (7 * 60 * 60 * 1000);
        else t = n.getTime();
        n.setTime(t);
        var dn = new Array("Chủ nhật", "Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7");
        d = n.getDay();
        m = n.getMonth() + 1;
        y = n.getFullYear()
        var date = dn[d] + ", " + (n.getDate() < 10 ? "0" : "") + n.getDate() + "/" + (m < 10 ? "0" : "") + m + "/" + y;
        document.getElementById("codepro-date").innerHTML = date;
    </script>
</body>
</html>

