<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoAnCoSo</title>
    <link rel="stylesheet" href="~/css/app.css" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/quancao.css" />
    <link rel="stylesheet" href="~/css/section3.css">

</head>
<body>
    <div class="wrapper">
        <div>
            <div class="header">
                <a id="logo" href="">
                    <img src="~/images/Logo.png" alt="#" />
                </a>
                <nav class="container">
                    <ul class="main-menu">
                        <li><a asp-area="" asp-controller="CuocThis" asp-action="Index">Cuộc thi</a></li>
                        <li><a asp-area="" asp-controller="PhieuDangKies" asp-action="Index">Phiếu đăng ký</a></li>
                        <li><a href="">Phiếu kết quả</a></li>
                    </ul>
                </nav>
                    <partial name="_LoginPartial" />
            </div>
        </div>
        <section class="section2">
            @RenderBody()
        </section>
    </div>
    <div>
        <footer>
            <p>&copy; 2024 My Website. All rights reserved.</p>
        </footer>
    </div>
     <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    @*<script>
        $(document).ready(function () {
            $(".sub-menu").parent("li").addClass("has-child");
        });
        //
        var advertisements = document.querySelectorAll(".advertisement-qc");
        var currentPage = 0;

        function showAdvertisement(pageIndex) {
            if (pageIndex !== currentPage) {
                advertisements[currentPage].style.opacity = "0";
                advertisements[pageIndex].style.opacity = "1";
                currentPage = pageIndex;
            }
        }

        function nextAdvertisement() {
            var nextPage = (currentPage + 1) % advertisements.length;
            showAdvertisement(nextPage);
        }

        // Kiểm tra nếu có quảng cáo trong trang
        if (advertisements.length > 0) {
            // Hiển thị quảng cáo đầu tiên
            advertisements[currentPage].style.opacity = "1";

            // Tự động chuyển qua trang sau sau mỗi 3 giây
            setInterval(nextAdvertisement, 3000);
        } else {
            console.log("Không có quảng cáo nào được tìm thấy.");
        }
    </script>*@
    @await RenderSectionAsync("Scripts", required: false) 
    
</body>
</html>

