<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Layout.css">
    <script src="~/js/Layout.js"></script>

    @* link để sử dụng các icon *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fontawesome.com/icons/address-card?f=classic&s=solid" />
</head>
<body>
    <!-- Block__Element--Modifier-->
    <header class="header">
        <div class="header-icon" onclick="toggleMenu()">
            <i class="fas fa-list"></i>
        </div>
        <div class="header-logo">
            <a asp-area="" asp-controller="CuocThis" asp-action="Index">
                <img src="~/images/Logo.png" alt="Alternate Text" />
            </a>
        </div>
        <div class="header-login">
            <partial name="_LoginPartial" />
        </div>
    </header>
    <div class="container">

        <div class="container-menu">
            <div class="menu-icon">
                <ul class="container-menu-list">
                    <li class="container-menu-item">
                        <a>
                            <i class="fas fa-home"></i>
                            <p class="container-menu-item-content">Trang chủ</p>
                        </a>
                    </li>
                    <li class="container-menu-item">
                        <a asp-area="" asp-controller="CuocThis" asp-action="Index">
                            <i class="fas fa-trophy"></i>
                            <p class="container-menu-item-content">Cuộc thi</p>
                        </a>
                    </li>
                    <li class="container-menu-item">
                        <a asp-area="" asp-controller="PhieuDangKies" asp-action="Index">
                            <i class="fas fa-file-alt"></i>
                            <p class="container-menu-item-content">Phiếu đăng ký</p>
                        </a>
                    </li>
                    <li class="container-menu-item">
                        <a asp-area="" asp-controller="CuocThis" asp-action="Index">
                            <i class="fas fa-poll"></i>
                            <p class="container-menu-item-content">Phiếu kết quả</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container-content">
            <div class="container-content-body">
                @RenderBody()
            </div>
            <div class="container-content-footer">
                <footer>
                    Design by Viet Hung
                </footer>
            </div>
        </div>

    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

