.advertisement-qc {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.page-selector-qc {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.page-selector-qc button {
  background-color: #7c8b9b;
  border: none;
  color: white;
  width: 24px;
  height: 8px;
  cursor: pointer;
}

.page-selector-qc button:hover {
  background-color: #537191;
}
/*  */
.div-chung {
  padding-top: 94px;
  padding-bottom: 50px;
  text-align: center;
  max-width: 1319px;
  margin: 0 auto;
  padding: 10px 120px 50px 120px;
}
.div-70 {
  display: flex;
}
.div-30 {
  padding-left: 4.1666666667%;
}
.div-trai {
  height: auto;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  border-radius: 0 0 0 20px;
  transition: all 0.3s ease;
  overflow: hidden;
}
.div-phai {
  position: relative;
  overflow: hidden;
  padding: 25px 36px 5px 32px;
  background: #fff;
  box-shadow: 0 5px 20px rgba(96, 110, 143, 0.15);
  border-radius: 0 20px 0 0;
}
.p-tt {
  text-align: center;
  font-size: 30px;
  padding: 10px;
  margin-top: 70px;
  font-size: 35px;
  font-weight: 600;
}
.div-tt {
  position: relative;
  display: inline-bock;
  padding: 0 32px;
  height: 48px;
  background: #11579f;
  border-radius: 0 10px;
  font-family: Gotham-Medium\.otf;
  font-size: 14px;
  line-height: 48px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  overflow: hidden;
  text-align: center; /* Canh giữa nội dung */
  vertical-align: middle; /* Canh giữa theo chiều dọc */
  margin-left: 43%;
}

.sticker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 12px;
  line-height: 18px;
  color: #6e798c;
  margin: 10px 25px;
}
.sticker {
  position: relative;
  text-align: center;
}

.img-sticker {
  display: inline-block; /* Đảm bảo hình ảnh nằm trên cùng và có thể canh lề trái */
}
.img-sticker img {
  width: auto; /* Chiều rộng của hình ảnh là 100% của phần tử cha (img-sticker) */
  height: 220px; /* Chiều cao tự động dựa trên tỷ lệ hình ảnh */
}
h3 {
  font-family: BeVietnam-SemiBold\.ttf;
  font-size: 18px;
  line-height: 24px;
  color: #393939;
  -webkit-line-clamp: 2;
  height: 52px;
  height: auto;
  max-height: 52px;
  margin-bottom: 10px;
  text-align: left;
}
