.img-31 {
  width: 100%; /* Đảm bảo hình ảnh lấp đầy không gian của phần tử cha */
  height: auto; /* Chiều cao tự động dựa trên tỷ lệ khung hình ban đầu */
}

.img-31 img {
  width: 100%; /* Đảm bảo hình ảnh lấp đầy không gian của phần tử cha */
  height: auto; /* Chiều cao tự động dựa trên tỷ lệ khung hình ban đầu */
}
.p-sc3 {
  text-align: left;
  font-size: 30px;
  padding: 10px;
  font-weight: 700;
  color: white;
  font-size: 35px;
}
.div-phai-sc3 {
  position: relative;
  overflow: hidden;
  padding: 25px 36px 5px 32px;
  box-shadow: 0 5px 20px rgba(96, 110, 143, 0.15);
  border-radius: 0 20px 0 0;
}
.sticker-sc3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 17px;
  line-height: 15px;
  color: white;
}
.sticker-sc3 {
  position: relative;
  text-align: center;
}
.div-sc3 {
  font-size: 15px;
  margin: 50px 0px;
  text-align: left;
  color: white;
  line-height: 1.5;
}
.div-bt-sc3 {
  position: relative;
  padding: 0 32px;
  height: 48px;
  background: #11579f;
  border-radius: 0 10px;
  font-size: 14px;
  line-height: 48px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  overflow: hidden;
  margin-left: 43%;
  width: 150px;
  border: none;
}
