@page
@model LoginModel

<script src="~/js/showPass.js"></script>
<style>

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }


    form {
        background-color: #f7f7f7;
        padding: 50px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        margin-bottom: 20px;
    }

    .form-floating {
        height: auto;
        border: 3px solid #e5c0c0;
        margin-bottom: 10px;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto;
    }

        .form-floating img {
            width: 30px;
            vertical-align: middle;
            padding-left: 10px;
            padding-right: 10px;
        }

        .form-floating input {
            border: none;
            outline: none;
            height: 20px;
        }

        .form-floating span {
            font-size: 20px;
            color: #8e44ad;
            cursor: pointer;
            padding-right: 5px;
        }

            .form-floating span i.hide-btn::before {
                content: "\f070";
            }

    #login-submit {
        margin-top: 10px;
        width: 200px;
        height: 30px;
        border: 3px solid #e5c0c0;
        border-radius: 3px;
    }

    .img-sticker img {
        width: 150px;
        padding-left: 65px;
    }

    .checkbox {
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 5px;
    }

    .form-control { /* Thêm lớp CSS tùy chỉnh */
        font-size: 1rem; /* Điều chỉnh kích thước của ô input */
        padding: 15px; /* Điều chỉnh khoảng cách bên trong của ô input */
    }
</style>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <div class="img-sticker">
                    <img src="~/images-Login/login.png" />
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <img src="~/images-Login/email.png" />
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <img src="~/images-Login/password.jpg" />
                    <input type="password" asp-for="Input.Password" class="form-control " autocomplete="password" aria-required="true" placeholder="password" />
                    @* <span asp-validation-for="Input.Password" class="text-danger"></span> *@
                    <span class="show-btn"><i class="fas fa-eye" onclick="showPassword(event)"></i></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="/Account/ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
